/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css

*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
.press, img, .press:focus, img:focus{
    outline: 0 !important;
    border:0 none !important;
}

h1,h2,h3,h4,h5,h6{
font-family: "Arimo", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Arimo", arial, verdana, sans-serif;

}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Arimo", arial, verdana, sans-serif;
font-style: normal;
}

.menu{
font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0 0 0 0;
color:#000;
background:#efefef url(css/img/gray_jean.png);
font:normal 0.9em/150% "Trebuchet MS", Helvetica, sans-serif;
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
font-style:normal;
}

img.title{

}

.grid{
	margin-bottom: 70px;
}

#wrap{
width:100%;
background:#fff;
margin:30px auto 30px auto;
padding:0 2%;
border:1px solid #ccc;
}

#footer{
text-align:center;
padding:20px;
margin:0;
border-top:1px solid #ddd;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
background:#fff;
}

	#link-top{
	display:none;
	}

/* NAV BAR*/
.navbar{
text-align: center;
background: #86a54f;
width: 100%;
height: 68px;
color: #000;
z-index:1000;
margin:0;
bottom:0;
position:fixed;
padding: 4px;
z-index:150;
_position:absolute;
_top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
}

.navbar span{
color:#89b376;
}


.navbar ul{
display:inline-block;
width:100%;
}

.navbar li{
	margin-left:1%;
	margin-right:1%;
	width:22%;
	height: 60px;
	text-align: center;
	list-style-type:0;
	display:inline-block;

	border-top:1px solid #bed399;
	border-bottom: 1px solid #5d6e3f;
	border-left:1px solid #6e8841;
	border-right:1px solid #6e8841;

	/*round corners*/

	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;

}

.navbar li p{
	text-decoration:none;
	text-transform: uppercase;
	line-height:100%;
	font-size: .75em;

	text-shadow: 1px 1px 2px #000;

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #fff;
	font-weight: bolder;
	margin-top: 40px;
}

.navbar li:hover p{
	color: #fff;
	font-weight: bolder;
	margin-top: 40px;
}

.navbar li:hover, .navbar li.current:hover{
	border-bottom:1px solid #bed399;
	border-top: 1px solid #5d6e3f;

	/* Put rouded edges here*/
	background:#7b9849;
	-webkit-box-shadow: inset 0px -3px 5px 2px #5d6e3f;
	-moz-box-shadow: inset 0px -3px 5px 2px #5d6e3f;
	box-shadow: inset 0px -3px 5px 2px #5d6e3f;
	-webkit-box-shadow: inset 0px 3px 5px 2px #5d6e3f;
}

.navbar li.current{
	background: #93b655;
}


.callout{
background:#4598ef;/*#86dc00;*/
padding:3em 0;
color:#fff;
box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
text-align: center;
text-shadow:0px 1px 3px rgba(0,0sd,0,0.2);
display:block;
}
	.callout + div.grid{margin-top:50px;}
	 a.callout{cursor:pointer;}
	 .callout i.icon-4x{font-size:6em;}
	 .callout h4{margin-bottom:30px;}
	 .callout-top{margin:50px 0 0 0;}
	 .callout p{margin-bottom:0;}
	 .callout .button{margin-top:10px;}
	 .callout.green{background:#19ad0b;/*#86dc00;*/}

#mc_embed_signup{
padding:30px 0;
}

#ui-preview{
border:5px solid #ddd;
margin:30px 0;
display:block;
}

/* INDEX.HTML PAGE -------------------------------------------INDEX.HTML PAGE-----*/

.homelist{
	font-size: 22px;
	color: #996600;
}

.homelist li{
	margin-top: 12px;
	margin-bottom: 12px;
}

/* END INDEX.HTML PAGE -----------------------------------END INDEX.HTML PAGE-----*/


/* TEAS.HTML PAGE ---------------------------------------------TEAS.HTML PAGE-----*/


ul{
	padding: 0px;
	margin: 0px;
}

.listline{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 3px solid #93b655;
	text-align: center;
	background: #bed399;
	/*min-height: 80px;*/
	max-height: 70px;
	padding-top: 10px;
	padding-bottom: 10px;

	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.linediv{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	width: 22%;
	vertical-align: middle;
}


/* may not use these two */
.left{
	margin-left: 2px;
	margin-right: 2px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	width: 22%;
	border: solid 2px;
	vertical-align: middle;
}

.right{
	margin-right: 2px;
	margin-left: 2px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	width: 22%;
	border: solid 2px;
	vertical-align: middle;
}

/* END TEAS.HTML PAGE ------------------------------------END TEAS.HTML PAGE------*/

.tableCell{
text-align: center;
width: 50%;
padding:5% 0 10% 0;
}

#infotitle{
	margin-top: 0px;
}

#infotable{
width: 80%;
max-width: 300px;
margin-right: auto;
margin-left: auto;
margin-top: 0;
margin-bottom: 0;
max-height: 400px;
min-width: 240px;
}


#infotable td img{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow:    0px 3px 12px 0px #333;
  	-webkit-box-shadow: 0px 3px 12px 0px #333;
  	box-shadow:         0px 3px 12px 0px #333;

  	max-width: 70px;
  	max-height: 70px;
}



#infotable td img:hover{
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;

    -moz-box-shadow:    0px 0px 0px 0px #333;
  	-webkit-box-shadow: 0px 0px 0px 0px #333;
  	box-shadow:         0px 0px 0px 0px #333;


	max-width: 70px;
	max-height: 70px;
}

#blendertop{
margin-top: 20px;
margin-left:auto;
margin-right:auto;
width:90%;
}
